.muli {
  font-family: "Muli", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.space {
  font-family: "Space Mono", monospace;
}

.rubik {
  font-family: "Rubik", monospace;
}

.swap-font {
  font-display: swap;
}

.shadow-small {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
}

.shadow-large {
  box-shadow: 0 5px 30px rgba(30, 30, 45, 0.075);
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.tracked-tiny {
  letter-spacing: 0.04rem;
}

.up {
  transition: all 0.15s ease-in-out !important;
}

.up:hover {
  -webkit-transform: translateY(-.25rem);
  -ms-transform: translateY(-.25rem);
  transform: translateY(-.25rem);
}

.down {
  transition: all 0.15s ease-in-out !important;
}

.down:hover {
  -webkit-transform: translateY(.25rem);
  -ms-transform: translateY(.25rem);
  transform: translateY(.25rem);
}

.right {
  transition: all 0.15s ease-in-out !important;
}

.right:hover {
  -webkit-transform: translateX(.25rem);
  -ms-transform: translateX(.25rem);
  transform: translateX(.25rem);
}

.no-outline:focus {
  outline: none;
}

body {
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

.smooth-text {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lg-purple,
.hover-lg-purple:hover,
.hover-lg-purple:focus {
  background: linear-gradient(270deg, #a463f2, #5e2ca5);
  background-size: 400% 400%;
}

.lg-pink,
.hover-lg-pink:hover,
.hover-lg-pink:focus {
  background: linear-gradient(270deg, #d5008f, #ff41b4);
  background-size: 400% 400%;
}

.lg-blue,
.hover-lg-blue:hover,
.hover-lg-blue:focus {
  background: linear-gradient(270deg, #00449e, #357edd);
  background-size: 400% 400%;
}

.lg-disco,
.hover-lg-disco:hover,
.hover-lg-disco:focus {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  background-size: 400% 400%;
}

.lg-kale-salad,
.hover-lg-kale-salad:hover,
.hover-lg-kale-salad:focus {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  background-size: 400% 400%;
}

.lg-aqua-spray,
.hover-lg-aqua-spray:hover,
.hover-lg-aqua-spray:focus {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  background-size: 400% 400%;
}

.lg-mellow-yellow,
.hover-lg-mellow-yellow:hover,
.hover-lg-mellow-yellow:focus {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  background-size: 400% 400%;
}

.lg-ooey-gooey,
.hover-lg-ooey-gooey:hover,
.hover-lg-ooey-gooey:focus {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  background-size: 400% 400%;
}

.lg-par-four,
.hover-lg-par-four:hover,
.hover-lg-par-four:focus {
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  background-size: 400% 400%;
}

.lg-sea-salt,
.hover-lg-sea-salt:hover,
.hover-lg-sea-salt:focus {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  background-size: 400% 400%;
}

.tide,
.hover-tide:hover,
.hover-tide:focus {
  -webkit-animation: tide 10s ease infinite;
  -moz-animation: tide 10s ease infinite;
  animation: tide 10s ease infinite;
}

.shine {
  -webkit-animation: shine 5s linear infinite;
}

.blur {
  -webkit-animation: blur 1s ease-in-out;
}

.blur-late {
  -webkit-animation: blur 2.5s ease-in-out;
}

.blur-skew {
  -webkit-animation: blur-skew 2.5s ease-in-out;
}

.hover-shine:hover {
  -webkit-animation: shine 5s linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: 200%;
  }
}

@keyframes shine {
  to {
    background-position: 200%;
  }
}

@-webkit-keyframes blur-skew {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
    -webkit-backface-visibility: hidden;
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: none;
    transform: none;
    -webkit-transform: matrix3d(0);
    transform: matrix3d(0);
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-backface-visibility: hidden;
  }
}

@keyframes blur-skew {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
    -webkit-backface-visibility: hidden;
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: none;
    transform: none;
    -webkit-transform: matrix3d(0);
    transform: matrix3d(0);
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-backface-visibility: hidden;
  }
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-backface-visibility: hidden;
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
    -webkit-backface-visibility: hidden;
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-backface-visibility: hidden;
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
    -webkit-backface-visibility: hidden;
  }
}

@-webkit-keyframes tide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes tide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes tide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  opacity: 0;
  text-align: center;
  width: auto;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.hover-dropdown:hover .dropdown-content {
  display: block;
}

.link-underlined {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.1rem;
  text-decoration: none;
}

.spin {
  -webkit-animation: spin 3s ease-in-out infinite;
  animation: spin 3s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  50% {
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

.spin-full {
  -webkit-animation: spin-full 6s ease-in-out infinite;
  animation: spin-full 6s ease-in-out infinite;
}

@-webkit-keyframes spin-full {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(1turn);
    -webkit-transform-origin: 50% 50%;
  }
}

@keyframes spin-full {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.parallax {
  background-attachment: fixed !important;
}

input[type="radio"].toggle,
input[type="checkbox"].toggle {
  width: 100%;
  height: 100%;
  opacity: 0;
}

input[type="radio"].toggle:checked~.checked,
input[type="checkbox"].toggle:checked~.checked {
  display: inherit;
}

input[type="radio"].toggle:checked~.unchecked,
input[type="checkbox"].toggle:checked~.unchecked {
  display: none;
}

input[type="radio"].toggle~.checked,
input[type="checkbox"].toggle~.checked {
  display: none;
}

input[type="radio"].toggle~.unchecked,
input[type="checkbox"].toggle~.unchecked {
  display: inherit;
}

.text-clip,
.hover-text-clip:hover,
.hover-text-clip:focus {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}