/*Apply animations to Children.*/
.hover-expand-child:hover .to-expand {
  font-size: inherit;
  transition: font 0.3s ease,
}

.hover-expand-child:hover [class*="hover"] {
  background-color: #fff;
}

.hover-expand-child .to-expand {
  font-size: 0px;
  transition: font 0.3s ease;
}

.parallax {
  background-attachment: local !important;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
